/* Global styles */
:root {
  --app-background-color: rgba(0, 0, 0, 0.9);
  --block-background-color: #f0f0f0;
  --block-border-color: #cccccc;
  --block-name-color: #000000;
  --rss-header-color: #000000;
  --rss-text-color: #333333;
  --button-background-color: #f0f0f0;
  --button-text-color: #000000;
  --rssblock-header-font-size: 16px;
  --rssblock-description-font-size: 15px;
  --block-gradient-background-color: #e4e4e4;
}
body {
  background-color: var(--app-background-color);
  font-family: Arial, sans-serif;
}

[v-cloak] {
  display: none;
}

label {
  display: block;
  margin: 10px 0;
}

textarea {
  width: 100%;
  height: 100px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal button{
   margin: 5px 5px 5px 0px;
}

.modal.modal-settings{
   min-width: 600px;
   min-height: 500px;
}

.modal.modal-settings textarea{
   min-height: 400px;
}

button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  padding: 5px 10px;
  /* margin: 5px;  */
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  opacity: 0.8;
}

.top-buttons {
  margin-left: 5px;
  display: flex; 
  justify-content: start;
  
  padding-bottom: 5px; 
}

.top-buttons button {
   margin: 5px; 
}

.columns-container {
  display: flex;
  flex-wrap: nowrap;
}
.column {
  flex: 1;
  min-width: 200px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
.block {
  background-color: var(--block-background-color);
  border: 1px solid var(--block-border-color);
  padding: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 4px;

  background: linear-gradient(
      180deg,
      var(--block-gradient-background-color) 0%,
      var(--block-background-color) 10% 90%,
      var(--block-gradient-background-color) 100%
    );
}

.block.dragging {
  opacity: 0.5;
}
.block h2 {
  color: var(--block-name-color);
  margin: 0 0 10px 0;
  cursor: move;
  user-select: none;
}
.block a {
  color: var(--rss-header-color);
}
.block.rss a {
  text-decoration: none;
  font-weight: bold;
}
.block p {
  color: var(--rss-text-color);
}
.block-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.block-buttons button{
   margin-right: 5px;
   opacity: 0.5;
}

.block-buttons button:hover{
   margin-right: 5px;
   opacity: 1;
}

button.add-row-button{
   opacity: 0.5;
}

button.add-row-button:hover{
   opacity: 1;
}

.block.bookmarks a {
  text-decoration: none;
  line-height: 20px;
}

.block img.bookmark-icon {
  width: 16px;
  height: 16px;
  font-size: 16px;
  padding-right: 10px;
}

.rssblock a.rssblock-item-title{
   font-size: var(--rssblock-header-font-size);
}

.rssblock p.rssblock-item-description {
  margin-top: 5px;
  font-size: var(--rssblock-description-font-size);
}

.rssblock span.rssblock-item-date {
  color: rgb(90, 90, 90);
  font-size: 13px;
}



